# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Wrap In Tag'
      'submenu': [
        {
          'label': 'Wrap'
          'command': 'atom-wrap-in-tag:wrap'
        }
      ]
    ]
  }
]
